header
    img(src='/images/pugicon.png' class='logo')
    h1.title= "The Pug Blog"
    ul 
        li 
            div.menuLink
                a(href='/web/newentry') Add Post
    div(id='userLoc') ....Getting Location....
